.mobile-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8b5cf6;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.container {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.ball {
  width: 90px;
  height: 10px;
  margin: 10px auto;
  border-radius: 50px;
}

.ball:nth-child(1) {
  background: #fda3c4;
  animation: right 1s infinite ease-in-out;
}

.ball:nth-child(2) {
  background: #edb291;
  animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
  background: #bef094;
  animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
  background: #f9ebb4;
  animation: left 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
  background: #9ab8f9;
  animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
  background: #efa984;
  animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
  background: #e4e2e8;
  animation: right 1s infinite ease-in-out;
}

@keyframes right {
  0%   { transform: translate(-15px); }
  50%  { transform: translate(15px); }
  100% { transform: translate(-15px); }
}

@keyframes left {
  0%   { transform: translate(15px); }
  50%  { transform: translate(-15px); }
  100% { transform: translate(15px); }
}